<div id="header">
  <div class="wrap_header">
    <div class="phone">
      
    </div>
    <div class="find">
      
    </div>

    <div class="logo">
      
    </div>

    <div class="info">
      
    </div>
    <div class="cart">
      
    </div>
  </div>
</div>