<div id="header">
  <div class="top_container">
    <div class="top_left">
      <p>a</p>
    </div>
    <div class="top_center">
      <%= image_tag("logo.png", size: "100x100") %>
    </div>
    <div class="top_right">
      <p>a</p>
    </div>
  </div>
  <div class="header_types"></div>
  <div class="slider"></div>
  <div class="alphabetic_brands"></div>
</div>