// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#content {
  margin-left: 10px;
  width: 100%;
}

a:hover, a:visited, a:link, a:active {
  color: #000000;
  text-decoration: none;
}
